<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/project1-8.0/src/cscie259/project1/mf/Tester.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cscie259.project1.mf.Tester"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:\xml-course\project1-8.0\samples\xml\4.xml 1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="project1-8.0"/>
</launchConfiguration>
